<ul class="taxonomy-index">
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <li>
        <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy-count">{{ category[1].size }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

{% for category in categories %}
<section id="{{ category[0] | slugify }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ category[0] }}</h2>
    {% for post in category[1] %}
    {% include entry.html %}
    {% endfor %}
</section>
{% endfor %}