<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
{% comment %}
Keep these as regular includes because they contain page-specific SEO/Analytics metadata.
{% endcomment %}
{% include head.html %}

<body
  class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {% if page.entries_layout == 'grid' %}page--wide{% endif %} {{ page.title | slugify }}">

  {% comment %}
  Safe to cache: These are identical site-wide.
  {% endcomment %}
  {% include_cached skip-links.html %}
  {% include_cached navigation.html %}
  {% include_cached masthead.html %}

  {% comment %}
  The 'main' ID is critical for the Search JS and theme margins.
  {% endcomment %}
  <div id="main" role="main">
    {{ content }}
  </div>

  {% include_cached footer.html %}

  {% comment %}
  Must be a regular include so the JS can detect the /search/ page and initialize.
  {% endcomment %}
  {% include scripts.html %}
</body>

</html>