<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
{% comment %}
Google Analytics and Head contain dynamic page-specific data (titles/SEO).
We keep these as regular includes.
{% endcomment %}
{% include google-analytics.html %}
{% include head.html %}

<body
  class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {% if page.entries_layout == 'grid' %}page--wide{% endif %} {{ page.title | slugify }}">

  {% comment %}
  The following are identical on every page.
  Switching to include_cached will drop their build count from 2,210 to 1.
  {% endcomment %}
  {% include_cached skip-links.html %}
  {% include_cached navigation.html %}
  {% include_cached masthead.html %}

  {{ content }}

  {% include_cached footer.html %}
  {% include_cached scripts.html %}
</body>

</html>